.footer-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    align-items: center;
    border-top: darkgray 2px solid;
}

.footer-container > p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.footer-image {
    width: 25px;
    height: 25px;
}